<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />

    <!-- Fontawesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <!-- CSS Style -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="site-header">
      <div class="header-row">
        <a href="/" class="site-header__logo">
          <img
            src="./img/logo-mercado-liebre.svg"
            alt="Es el logo de la empresa mercado liebre"
          />
        </a>
        <input
          type="text"
          placeholder="Buscar productos, marcas y mas"
          class="site-header__search"
        />
        <p>
          <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <div class="header-row-menu">
        <nav class="site-header__navegation">
          <ul>
            <li><a href="#"> Ofertas </a></li>
            <li><a href="#"> Tiendas Oficiales </a></li>
            <li><a href="#"> Vender </a></li>
            <li><a href="#"> Ayuda </a></li>
          </ul>
        </nav>
        <nav class="site-header__user">
          <ul>
            <li>
              <a href="/register">
                Crea tu cuenta <i class="far fa-id-card"></i
              ></a>
            </li>
            <li>
              <a href="/login"> Ingresar <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li>
              <a href="#">
                Mis Compras <i class="fas fa-shopping-basket"></i
              ></a>
            </li>
          </ul>
        </nav>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </header>

    <div class="layout">
      <div class="layout__container">
        <main class="main-registro">
          <section class="form-registro">
            <form action="/">
              <fieldset>
                <legend>Datos personales</legend>
                <label for="inp-nombre">Nombre y Apellido</label>
                <input
                  type="text"
                  placeholder="Ingresa tu Nombre"
                  id="inp-nombre"
                  required
                />

                <label for="inp-user">Nombre Usuario</label>
                <input
                  type="text"
                  placeholder="Ingresa tu Usuario"
                  id="inp-user"
                  required
                />

                <label for="inp-date">Fecha nacimiento</label>
                <input type="date" id="inp-date" required />

                <label for="inp-domicilio">Domicilio</label>
                <input
                  type="text"
                  placeholder="Ingresa tu Domicilio"
                  id="inp-domicilio"
                  required
                />
              </fieldset>

              <fieldset>
                <legend>Perfil de usuario</legend>
                <div class="perfil-container">
                  <div>
                    <label for="inp-vendedor">Vendedor</label>
                    <input type="radio" id="inp-vendedor" name="r-perfil" />
                  </div>
                  <div>
                    <label for="inp-comprador">Comprador</label>
                    <input
                      type="radio"
                      id="inp-comprador"
                      value="Comprador"
                      name="r-perfil"
                      checked
                    />
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend>Categorias de interes</legend>
                <div class="categorias-container">
                  <div>
                    <label for="chk-electro">Electro</label>
                    <input type="checkbox" id="chk-electro" />
                  </div>

                  <div>
                    <label for="chk-moda">Moda</label>
                    <input type="checkbox" id="chk-moda" />
                  </div>

                  <div>
                    <label for="chk-hogar">Hogar</label>
                    <input type="checkbox" id="chk-hogar" />
                  </div>

                  <div>
                    <label for="chk-jugeteria">Jugeteria</label>
                    <input type="checkbox" id="chk-jugeteria" />
                  </div>

                  <div>
                    <label for="chk-vida">Vida sana</label>
                    <input type="checkbox" id="chk-vida" />
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend>Foto de Usuario</legend>
                <input type="file" />
              </fieldset>

              <fieldset>
                <legend>Contraseña</legend>
                <label for="inp-user">Contraseña</label>
                <input
                  type="password"
                  placeholder="Ingresa tu password"
                  id="inp-psw"
                  required
                />

                <label for="inp-user">Confirmar Contraseña</label>
                <input
                  type="password"
                  placeholder="Confirme su password"
                  id="inp-rePsw"
                  required
                />
              </fieldset>

              <div class="form-registro__buttons">
                <input type="reset" class="btn btn-reset__register" />
                <input type="submit" class="btn btn-submit__register" />
              </div>
            </form>
          </section>
        </main>
      </div>
      <footer class="site-footer">
        <section>
          <h3 class="site-footer__title">
            <i class="far fa-credit-card"></i>Pagá con tarjeta o en efectivo
          </h3>
          <p>
            Con nuestra tienda, tienes cuotas sin interés con tarjeta o efectivo
            en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <h3 class="site-footer__title">
            <i class="fas fa-truck"></i>Envío gratis desde 2.500 puntos
          </h3>

          <p>
            Solo por estar registrad@ en nuestra tienda tienes envíos gratis en
            miles de productos.
          </p>
        </section>
        <section>
          <h3 class="site-footer__title">
            <i class="fas fa-shield-alt"></i>Seguridad, de principio a fin
          </h3>
          <p>
            ¿No te gusta? ¡Devuélvelo! En nuestra tienda no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </footer>
    </div>
  </body>
</html>
