.home-main__section-title{
    font-size: 24px;
}


.home-main__product{
    text-align: center;
}

.home-main__product p:nth-child(2){
    font-size: 18px;
    color: var(--gris-oscuro);
}

.home-main__product p:nth-child(3),
.home-main__product p:nth-child(4){
    font-size: 16px;
    color: var(--verde);
}